target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.gitignore
.idea/
StringPair.avsc
avro_test.iml
src/main/avro/
src/main/java/example/
src/main/resources/
src/test/
users.avro
